span.css-10trblm.e16nr0p30{
 background-color : #800080 ;
 text-align:center;
}
div.css-f3nfy6.e1tzin5v2{
 background-color : #800080 ;
}



section.css-vk3wp9.e1fqkh3o11{
background-color : black;
}
div.css-1v7bkj4.egzxvld4{
background-color : black;
}
div.css-9s5bis.edgvbvh3{
background-color : #800080;
}
div.css-6qob1r.e1fqkh3o3{
background-color : black;
}
css-1629p8f.e16nr0p31 // bharath kisan helpline
css-10trblm.e16nr0p30 // predict gross yield
css-10trblm.e16nr0p30 // model parameter
css-184tjsw.e16nr0p34 // div enter state name
css-184tjsw.e16nr0p34 // div enter district name
css-184tjsw.e16nr0p34 // div enter crop year

